@{
    ViewData["Title"] = "Contact us";
}
@using Res = WebApplication2.Resources.Resources;
<!-- breadcrumb-banner-area -->
@if (System.Threading.Thread.CurrentThread.CurrentCulture.Name == "en-US")
{
    <div class="breadcrumb-banner-area  ptb-150" style="        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(../../assets/img/bg/ContactEn.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-text text-center">
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="breadcrumb-banner-area  ptb-150" style="        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(../../assets/img/bg/ContactAr.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-text text-center">
                       

                    </div>
                </div>
            </div>
        </div>
    </div>
}


<!-- breadcrumb-banner-area-end -->
<!-- map-area-start -->
<br />
<br />
<br />
<!-- map-area-end -->
<!-- contact-area-start -->
<div class="contact-area pb-120">
    <div class="container">
        <div class="row">
            <div class="col-md-5 contact-1">
                <div class="contact-left-wrapper ">
                    <div class="contact-text">
                        <h4>@Res.ContactInfo</h4>
                        <p> @Html.Raw(@Res.ContactText.Replace("\r\n", "<br />"))</p>

                        <span>@Res.Email : info@horizonscloud.net</span>

                    </div>
                    <div class="contact-icon" dir="ltr">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/Washcloudksa?t=E48LML_zVoLZrm8Fzul3NA&s=08"><i class="fa fa-twitter"></i></a>
                        <a href="https://instagram.com/washcloudksa?igshid=YmMyMTA2M2Y="><i class="fa fa-instagram"></i></a>

                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="contact-right-wrapper mb-30">
                    <h4>@Res.SendYourMessage</h4>
                    <div class="row">
                        <form action="../../assets/ProcessRequest.cshtml" id="contact-form" method="post">
                            <div class="col-sm-6">
                                <input name="name" type="text" placeholder="@Res.Name">
                            </div>
                            <div class="col-sm-6">
                                <input name="email" type="email" placeholder="@Res.Email" autocapitalize="none">
                            </div>
                            <div class="col-sm-6">
                              
                              
                                <select  name="subject" >
                                    <option value="Bug">@Res.ReportABug</option>
                                    <option value="Improvement">@Res.SuggestAnImprovement</option>
                                    <option value="Message">@Res.SendAMessage</option>
                
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <input name="phone" type="text" placeholder="@Res.Phone">
                            </div>
                            <div class="col-sm-12">
                                <textarea name="message" cols="30" rows="10" placeholder="@Res.Message" id="message"></textarea>
                            </div>
                            <button type="submit">@Res.Submit</button>
                        </form>
                        <p class="form-message"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- contact-area-end -->
